.is-navyblue {
  background: #3a87ad !important;
}
.mxs-sm {
  margin: 0 0.875rem 0 0.875rem;
}

.dashboard {
  &-topbar {
    height: 50px;
    background: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
    button {
      width: 80px;
      height: 29px;
      border: 1px solid $lightBlue !important;
      border-radius: 0px;
      background: inherit;
      color: $lightBlue;
      &:hover,
      &:focus {
        color: $lightBlue;
      }
      &:last-child {
        border: none !important;
      }
    }
  }

  &-profile {
    height: 80px;
    span {
      display: block;
      border-radius: 3px;
    }
  }

  &-box {
    border: 1px solid $light;
    border-radius: 3px;
    width: 100%;
    header {
      background: #eeeeee;
      height: 38px;
    }
    footer {
      .vender-view-icon {
        img {
          width: 13px;
          height: 17px;
        }
      }
    }
  }

  &-popup-msg {
    width: 268px;
    height: 100px;
    box-shadow: 0px 4px 15px 0px #00000026;
    color: $skyBlue;
    border-radius: 5px;
  }
  &-status-tags {
    width: 30%;
    height: 42px;
    background: #f2f2f2;
    border-radius: 5px;
    color: #7c7c7c;
    &-line {
      border-left: 1px solid #dedada;
      display: inline;
    }
  }
  &-alert {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    button {
      background: inherit;
      outline: none;
      border: none;
    }
    &-tag {
      border-radius: 3px;
    }
  }

  &-table {
    width: 100%;
    thead {
      th {
        color: $black;
        font-weight: 700;
        font-family: $family-secondary;
        letter-spacing: 0.01rem;
      }
    }
    tbody {
      tr {
        width: 100%;
        td {
          .dashboard-table-tag {
            border-radius: 4px;
            width: 80px;
          }
          .dashboard-table-button {
            height: 30px;
            width: 80%;
            border: 1px solid #3fa5c3;
          }
        }
      }
    }
  }
}
