// input Field Updates
$input-color: $grey;
$input-background-color: $white;
// $input-border-color: $grey;
$input-shadow: "";

$input-hover-color: $white;
$input-hover-border-color: $lightGrey;
$input-focus-color: $primary;
$input-focus-border-color: $lightGrey;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: transparent;

$input-icon-color: $white;
$input-icon-active-color: $white;
